.button.accent {
    border-radius: 6px;
    padding: 8px 30px;
    font-family: var(--font-family);
    cursor: pointer;
    transition: border-color 0.25s;
    font-size: 16px;
    border: none;
    background-color: #312EB5;
    width: 135px
}

.button:hover {
    border-color: #646cff;
}

.button:hover {
    background-color: #28269d;
}

/* .button.accent {
    
} */