.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}



.input {
  border: none;
  background: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  
  width: 100%;
}

.input:focus {
    outline: none;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333333;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  min-width: 150px;
}

.invalid {
  border: 1px solid red;
  background: rgb(113, 2, 2);
}
